.our-projects {
  background-color: var(--dark-background-color);
  padding-top: 80px;
  padding-bottom: 94px;

  @media (min-width: 768px) {
    padding-top: 105px;
    padding-bottom: 124px;
  }

  &__container {
    position: relative;
  }

  &__title {
    color: var(--white-secondary-color);

    @media (min-width: 768px) {
      text-align: center;
    }

    &_light {
      color: var(--white-base-color);

      @media (min-width: 768px) {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        line-height: 142%;
      }
    }
  }

  &__project-sub-title {
    margin-bottom: 5px;

    @media (min-width: 768px) {
      margin-bottom: 1px;
    }
  }

  &__description {
    color: #828282;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 80px;

    @media (min-width: 768px) {
      text-align: center;
      max-width: 455px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 97px;
      margin-top: 21px;
    }

    &_light {
      color: var(--white-base-color);
      margin-bottom: 48px;

      @media (min-width: 768px) {
        margin-top: 23px;
        margin-bottom: 53px;
      }
    }
  }

  // ---list----
  &__list {
    display: grid;
    gap: 6px;
    margin-bottom: 96px;

    @media (min-width: 768px) {
      margin-bottom: 122px;
    }
  }

  &__project {
    position: relative;

    &:nth-child(2) {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &:last-child {
      @include flex-align-column;
      height: auto;
      padding: 62px 0px;
      background-color: var(--light-background-color);

      @media (min-width: 768px) {
        padding: 146px 0px;
      }

      & > .project__bg-img {
        width: 121px;
        height: 162px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%),
          url('@assets/img/main/our-projects/img.webp') lightgray 50% / cover no-repeat;

        @media (min-width: 768px) {
          width: 251px;
          height: 331px;
        }
      }
    }
  }

  &__btn {
    display: block;
    padding: 14px 49px;
    width: 184px;
    background-color: var(--white-base-color);
    color: var(--black-base-color);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;

    @media (min-width: 768px) {
      margin: 0 auto;
    }
  }

  &__bottom-content {
    position: relative;
  }

  &__decoration-title {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// ---project-overlay--

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.12%, rgba(0, 0, 0, 0.63) 101.15%);
  padding: 21px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 31px;
  }

  &__list {
    @include flex-align-row;
    column-gap: 16px;
    font-size: 11px;
    font-weight: 500;
    line-height: 170.66%;
  }

  &__title-box {
    margin-top: auto;
    width: 273px;
  }

  &__title {
    color: var(--white-secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 126%;
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 19px;
    }

    &.project-overlay__title_dark {
      margin-bottom: 16px;

      @media (min-width: 768px) {
        margin-bottom: 23px;
      }
      & > a {
        color: var(--black-base-color);
      }
    }
  }
}
