.company {
  padding-top: 78px;
  padding-bottom: 43px;

  @media (min-width: 768px) {
    padding-top: 103px;
    padding-bottom: 73px;
  }

  &__container {
    @media (min-width: 768px) {
      padding: 0px 91px;
    }
  }

  &__title {
    color: var(--black-base-color);
    margin-bottom: 16px;
  }

  &__description {
    @include flex-align-column;
    row-gap: 14px;
    color: var(--black-base-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 170.66%;
    opacity: 0.7;
    margin-bottom: 32px;

    &_bottom {
      @media (min-width: 768px) {
        max-width: 318px;
        margin-left: auto;
      }
    }

    &-text_bottom {
      position: relative;
      padding-left: 42px;
      font-size: 16px;

      @media (min-width: 768px) {
        padding-left: 27px;
      }

      &:before {
        position: absolute;
        left: 0;
        content: '“';
        width: 13px;
        height: 31px;
        color: var(--black-base-color);
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  &__img-content {
    position: relative;
    height: 280px;
    margin-bottom: 80px;

    @media (min-width: 768px) {
      height: 331px;
      margin-bottom: 23px;
    }
  }

  &__img {
    &_top {
      position: absolute;
      top: 0;
      right: 0;
      width: 264px;
      height: 162px;
      z-index: 1;
      background: url('@assets/img/main/company/mobile/big-img-mob.webp') lightgray 50% / cover
        no-repeat;

      @media (min-width: 768px) {
        width: 383px;
        height: 235px;
        background: url('@assets/img/main/company/tablet/big-img-tab.webp');
      }
    }

    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 131px;
      height: 163px;
      background: url('@assets/img/main/company/mobile/smal-img-mob.webp') lightgray 50% / cover
        no-repeat;

      @media (min-width: 768px) {
        width: 153px;
        height: 191px;
        background: url('@assets/img/main/company/tablet/smal-img-tab.webp');
      }
    }
  }
}

.company__sub-title {
  color: var(--black-base-color);
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 82px;

  @media (min-width: 768px) {
    margin-bottom: 63px;
  }

  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background: var(--black-base-color);
  }

  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background: var(--black-base-color);
  }
}
