.company {
  padding-top: 25px;
  padding-bottom: 64px;

  &__title {
    color: var(--black-base-color);
    margin-bottom: 24px;
  }

  &__description {
    @include flex-align-column;
    row-gap: 24px;
    color: var(--black-base-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 170.66%;
    opacity: 0.7;
    margin-bottom: 40px;
  }

  &__img-content {
    position: relative;
    height: 280px;
  }

  &__img {
    &_top {
      position: absolute;
      top: 0;
      right: 0;
      width: 264px;
      height: 162px;
      z-index: 1;
    }

    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 131px;
      height: 163px;
    }
  }
}

.company__sub-title {
  color: var(--black-base-color);
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 102px;

  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background: var(--black-base-color);
  }

  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background: var(--black-base-color);
  }
}
