.hero {
  position: relative;

  &__wrapper {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 213px;
    }
  }

  &__container {
    padding-top: 200px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1440px) {
      padding-top: 280px;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__static-img {
    display: none;
    @media (min-width: 768px) {
      max-height: 744px;
      display: block;
      background-image: url('@assets/img/main/hero/hero-img-right.png');
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: cover;
    }
  }

  &__title {
    color: var(--white-base-color);
    font-family: var(--primary-font);
    font-size: 46px;
    font-style: normal;
    font-weight: 700;

    @media (min-width: 768px) {
      max-width: 600px;
      font-size: 56px;
      padding-bottom: 200px;
    }
    @media (min-width: 1440px) {
      padding-left: 180px;
      font-size: 56px;
      max-width: 700px;
    }
  }
}
