.hero {
  position: relative;

  &__wrapper {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 213px;
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 200px;

    @media (min-width: 1440px) {
      padding-top: 283px;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__static-img {
    display: none;
    @media (min-width: 768px) {
      max-height: 744px;
      display: flex;
      background-image: url('@assets/img/main/hero/hero-img-right.png');
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: cover;
    }
  }

  &__title {
    color: var(--white-base-color);
    font-size: 46px;

    @media (min-width: 768px) {
      max-width: 600px;
      font-size: 56px;
      padding-bottom: 200px;
    }
    @media (min-width: 1440px) {
      padding-left: 197px;
      font-size: 56px;
      max-width: 700px;
    }
  }
}

// ---static-content----

.hero__static-wrapper {
  margin-top: auto;
}

.static-content {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--white-base-color);
  padding-right: 44px;
  padding-top: 48px;

  &__sup-title {
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-left: 8px;
  }

  &__title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--4, #fff);
    // color: transparent;
    font-size: 48px;
    font-weight: 700;
    line-height: 97.52%; /* 46.81px */
    letter-spacing: 1.92px;
  }
}
