.hero {
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 61px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 112px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 161px;
    }

    @media (min-width: 1440px) {
      grid-template-columns: 1fr 213px;
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 220px;

    @media (min-width: 768px) {
      padding-top: 382px;
    }

    @media (min-width: 1024px) {
      padding-top: 283px;
    }

    @media (min-width: 1440px) {
      padding-top: 279px;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__static-img {
    display: flex;
    height: 542px;
    background-image: url('@assets/img/main/hero/hero-img-right-s.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;

    @media (min-width: 768px) {
      background-image: url('@assets/img/main/hero/hero-img-right-m.png');
      height: 959px;
    }

    @media (min-width: 1024px) {
      background-image: url('@assets/img/main/hero/hero-img-right-l.png');
      height: 710px;
    }

    @media (min-width: 1440px) {
      background-image: url('@assets/img/main/hero/hero-img-right-xl.png');
      height: 744px;
    }
  }

  &__title {
    color: var(--white-base-color);
    font-size: 40px;
    margin-bottom: 36px;
    line-height: 97.52%;

    @media (min-width: 768px) {
      font-size: 44px;
      width: 400px;
      padding-left: 75px;
      margin-bottom: 29px;
      line-height: normal;
    }

    @media (min-width: 1024px) {
      font-size: 48px;
      width: 580px;
      padding-left: 101px;
    }

    @media (min-width: 1440px) {
      padding-left: 197px;
      font-size: 56px;
      width: 740px;
      margin-bottom: 37px;
    }
  }

  &__sub-title {
    margin-bottom: 102px;

    @media (min-width: 768px) {
      padding-left: 76px;
      margin-bottom: 316px;
    }
    @media (min-width: 1024px) {
      padding-left: 103px;
      margin-bottom: 213px;
    }
    @media (min-width: 1440px) {
      padding-left: 199px;
      margin-bottom: 214px;
    }
  }
}

// ---static-content----

.hero__static-wrapper {
  margin-top: auto;
}

.static-content {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--white-base-color);
  padding-right: 30px;
  padding-top: 60px;

  @media (min-width: 375px) {
    padding-right: 20px;
    padding-top: 24px;
  }

  @media (min-width: 768px) {
    padding-right: 30px;
    padding-top: 34px;
  }

  @media (min-width: 1024px) {
    padding-right: 39px;
    padding-top: 42px;
  }

  @media (min-width: 1440px) {
    padding-right: 44px;
    padding-top: 48px;
  }

  &__sup-title {
    display: none;

    @media (min-width: 768px) {
      display: block;
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      margin-left: 8px;
    }
  }

  &__title {
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 97%;
      letter-spacing: 1.28px;
    }

    @media (min-width: 1440px) {
      font-size: 48px;
      font-weight: 700;
      line-height: 97.52%;
      letter-spacing: 1.92px;
    }

    & > br {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}
