.page-news {
  color: var(--black-base-color);
  background-color: var(--light-background-color);
  padding-top: 116px;
  padding-bottom: 76px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-top: 138px;
    padding-bottom: 101px;
  }
  @media (min-width: 1024px) {
    padding-top: 162px;
    padding-bottom: 121px;
  }
  @media (min-width: 1440px) {
    padding-top: 208px;
    padding-bottom: 71px;
  }

  &__title {
    & > span {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }

  &__text-content {
    @media (min-width: 768px) {
      padding: 0 76px;
      margin-bottom: 82px;
    }
    @media (min-width: 1024px) {
      padding: 0 103px;
      margin-bottom: 89px;
    }
    @media (min-width: 1440px) {
      padding: 0 132px;
      margin-bottom: 110px;
      display: flex;
      align-items: center;
      column-gap: 400px;
    }
  }

  &__list {
    position: relative;
    width: 128px;
    height: 29px;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    margin-bottom: 64px;

    @media (min-width: 768px) {
      width: 100%;
      border: none;
      margin-bottom: 0px;
    }

    &-item {
      position: relative;
      padding: 7px 13px;
      margin-bottom: 5px;

      @media (min-width: 768px) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 12px;
        width: 10px;
        height: 5px;
        transform: translateY(-50%);
        background-image: url('@assets/img/pagrs/our-projects/arrow.svg');
        background-repeat: no-repeat;
      }
    }
  }

  &__inner-list {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition: all 200ms linear;
    background-color: var(--light-background-color);

    @media (max-width: 767px) {
      &_hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }

    &-item {
      opacity: 0.6;
      transition: all 200ms linear;
      cursor: pointer;
      flex-shrink: 0;

      @media (max-width: 767px) {
        &_active {
          opacity: 1;
        }
      }

      @media (min-width: 768px) {
        &_active {
          border-bottom: 1px solid var(--black-base-color);
        }
      }
    }

    @media (min-width: 768px) {
      border: none;
      flex-direction: row;
      padding: 0;
      column-gap: 29px;
    }
    @media (min-width: 1024px) {
      column-gap: 26px;
    }
    @media (min-width: 1440px) {
      column-gap: 35px;
    }
  }

  // __list-content

  &__list-content {
    margin-bottom: 48px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;

      margin-bottom: 53px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 62px;
    }
  }

  &__title-box {
    display: grid;
    row-gap: 36px;
    height: 100%;

    @media (min-width: 768px) {
      row-gap: 40px;
    }
    @media (min-width: 1024px) {
      row-gap: 0px;
    }
  }

  &__item-title {
    margin-top: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 126%;
    color: var(--white-base-color);

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__sub-title {
    display: none;
  }

  &__list-contentt-item {
    position: relative;
    display: grid;
    align-content: end;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &:nth-child(1) {
      margin-bottom: 0;
    }
    &:nth-child(5) {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      position: static;
      background-color: #f2f2f2;
      padding: 24px;
      grid-column: 1/2;
      grid-row: 1/2;

      @media (min-width: 768px) {
        padding: 33px;
      }
      @media (min-width: 1024px) {
        padding: 46px;
      }

      & > .page-news__list-content-overlay {
        position: static;
        background: linear-gradient(transparent, transparent);
        padding: 0;
      }

      & .page-news__item-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 126%;
        color: var(--black-base-color);

        @media (min-width: 768px) {
          width: 210px;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          width: 270px;
          margin-bottom: 20px;
        }
      }

      & .page-news__sub-title {
        margin-top: auto;
        display: flex;
        flex-shrink: 0;
      }

      & .page-news__list-content-img {
        display: none;
      }

      & .page-news__content-item-description {
        @media (min-width: 1024px) {
          display: block;
          width: 320px;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 170%;
          opacity: 0.7;
          margin-bottom: 44px;
        }
      }
    }

    &:nth-child(6) {
      position: static;
      background-color: #f2f2f2;
      padding: 24px;

      @media (min-width: 768px) {
        padding: 33px;
      }
      @media (min-width: 1024px) {
        padding: 45px;
      }

      & > .page-news__list-content-overlay {
        position: static;
        background: linear-gradient(transparent, transparent);
        padding: 0;
      }

      & .page-news__item-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 126%;
        color: var(--black-base-color);

        @media (min-width: 768px) {
          width: 210px;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          width: 270px;
          margin-bottom: 40px;
        }
      }

      & .page-news__sub-title {
        display: flex;
      }

      & .page-news__list-content-img {
        display: none;
      }
    }
  }

  &__content-item-description {
    display: none;
  }

  &__list-content-overlay {
    position: absolute;
    padding: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 45.39%);

    @media (min-width: 768px) {
      padding: 33px;
    }
    @media (min-width: 768px) {
      padding: 45px;
    }
  }

  // page-news__pagination-box

  &__pagination-box {
    @include flex-align-row;
    justify-content: center;
    column-gap: 24px;

    @media (min-width: 1024px) {
      column-gap: 32px;
    }
  }

  &__pagination-list {
    @include flex-align-row;
    column-gap: 18px;

    @media (min-width: 1024px) {
      column-gap: 20px;
    }
  }

  &__pagination-item {
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }

  &__pagination-prev,
  &__pagination-next {
    background-color: transparent;
    & > svg {
      width: 14px;
      height: 14px;
      fill: none;
      stroke: #080808;
    }
  }

  &__pagination-prev-icon {
    transform: rotate(-180deg);
  }
  &__pagination-next-icon {
    margin-top: 3px;
  }
}
