.slider {
  &__img {
    height: 100dvh;
    max-height: 744px;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(0.6);
  }

  &__line {
    display: flex;
    transition: all 350ms linear;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__btn-box {
    padding: 10px;
    position: absolute;
    top: 500px;
    right: 50%;
    transform: translateX(50%);
    width: 266px;
    @include flex-align-row;
    justify-content: space-between;

    @media (min-width: 768px) {
      top: 460px;
      right: 20%;
      width: 266px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 186px;
      height: 1px;
      background-color: #fff;
    }
  }

  &__btn {
    background-color: transparent;

    &-svg {
      width: 20px;
      height: 20px;
    }
  }
}
