.container {
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 375px) {
    max-width: 357px;
  }

  @media (min-width: 768px) {
    max-width: 702px;
  }

  @media (min-width: 1024px) {
    max-width: 942px;
  }

  @media (min-width: 1440px) {
    max-width: 1342px;
  }
}
