.contacts {
  position: relative;
  background-image: url('@assets/img/components/contacts/bg-mob.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;

  @media (min-width: 768px) {
    background-image: url('@assets/img/components/contacts/bg-tab.webp');
  }
  @media (min-width: 1024px) {
    background-image: url('@assets/img/components/contacts/bg-lap-top.webp');
  }
  @media (min-width: 1440px) {
    background-image: url('@assets/img/components/contacts/bg-desctop.webp');
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
  }

  &__content {
    @media (min-width: 768px) {
      padding: 0 77px;
    }
  }

  &__title {
    color: var(--white-secondary-color);
  }

  &__description {
    color: var(--white-secondary-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 170.66%;
    opacity: 0.6;

    margin-bottom: 38px;

    @media (min-width: 768px) {
      margin-bottom: 46px;
      max-width: 430px;
    }
  }

  &__decoration-title {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// ----address-contacts---------

.address-contacts {
  font-style: normal;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 41px;
    row-gap: 33px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 162px);
      column-gap: 7px;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      max-height: 150px;
    }

    &:last-child {
      row-gap: 35px;
      margin-bottom: 44px;

      @media (min-width: 768px) {
        row-gap: 53px;
        margin-bottom: 0px;
        height: 100%;
        padding-left: 26px;
      }
    }
  }

  &__list-title {
    color: var(--white-secondary-color);
    line-height: 136%;
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 18px;
    }
  }

  &__list-link {
    display: flex;
    flex-direction: column;
    font-size: 11px;

    & > a {
      color: var(--white-secondary-color);
      font-weight: 300;
      line-height: 180%;
      letter-spacing: 0.66px;
    }
  }

  &__language {
    @media (max-width: 767px) {
      @include flex-align-row;
      column-gap: 16px;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
    }
  }

  &__mail {
    color: var(--white-secondary-color);
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;

    @media (min-width: 768px) {
      margin-bottom: 11px;
    }
  }
}

.language-box__link {
  @media (max-width: 767px) {
    color: var(--white-secondary-color);
  }
}

// ----trademark--------

.trademark {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 11px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
  }

  &__content {
    color: var(--gray-base-color);
    font-size: 12px;
    font-weight: 300;
    line-height: 152%;

    &_bottom {
      @include flex-align-row;
      column-gap: 32px;
    }
  }

  &__first-text {
    color: var(--white-base-color);
    font-family: Adieu;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 80%;
  }

  &__last-text {
    margin-left: 30px;
    color: var(--white-base-color);
    font-family: FreightBigProLight-Italic;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 80%;
  }
}
