.data-box {
  @include flex-align-row;

  &__location {
    @include flex-align-row;
    margin-right: 31px;
    border: 1px solid #c4c4c4;
    padding: 5px 10px 5px 12px;
    width: 117px;
    height: 24px;
    border-radius: 20px;

    @media (min-width: 768px) {
      margin-right: 32px;
    }

    @media (min-width: 1024px) {
      margin-right: 39px;
    }

    @media (min-width: 1440px) {
      margin-right: 73px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 1.153px 1.225px 0px rgba(0, 0, 0, 0.2),
        0px -0.288px 0.072px 0px rgba(255, 255, 255, 0.23);
      backdrop-filter: blur(1px);
      transition: all 250ms linear;
      &:hover {
        background: transparent;
        backdrop-filter: blur(0px);
      }
    }

    &-svg {
      width: 10px;
      height: 10px;
      margin-right: 7px;
    }
  }

  &__city-list {
    color: var(--white-base-color);
    border: none;
    background: transparent;
    outline: none;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    cursor: pointer;
  }

  &__city-name {
    color: #000;
  }

  &__contacts {
    @include flex-align-column;

    @media (min-width: 768px) {
      flex-direction: row;
      column-gap: 32px;
    }
  }

  &__phone,
  &__email {
    margin-left: auto;
  }

  &__phone-link,
  &__email-link {
    color: var(--white-base-color);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    transition: opacity 200ms linear;

    @media (min-width: 1440px) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    bottom: 8px;
  }
}
