.discover-more {
  @include flex-align-row;
  column-gap: 8px;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  &::before {
    content: '';
    width: 8px;
    height: 1px;
  }
  &::after {
    content: '';
    width: 56px;
    height: 1px;
  }
  //---/-base---------

  // ---dark----------
  &__dark {
    color: var(--black-base-color);

    &::before,
    &::after {
      background: rgba(49, 49, 49, 0.2);
    }
  }

  // ---light----------
  &__light {
    color: var(--white-base-color);

    &::before,
    &::after {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}
