.discover-more {
  @include flex-align-row;
  column-gap: 8px;
  color: var(--black-base-color);
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 102px;

  &::before {
    content: '';
    width: 8px;
    height: 1px;
    background: rgba(49, 49, 49, 0.2);
  }

  &::after {
    content: '';
    width: 56px;
    height: 1px;
    background: rgba(49, 49, 49, 0.2);
  }
}
