.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  padding: 21px 0;
  transition: all 250ms linear;

  &_active {
    transition: all 350ms linear;
    background-color: #000000bb;
    backdrop-filter: blur(10px);
  }

  @media (min-width: 768px) {
    padding: 24px 0;
  }

  &__logo {
    margin-right: 141px;
    color: var(--white-base-color);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.2px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      margin-right: 94px;
    }

    @media (min-width: 1440px) {
      margin-right: 139px;
    }

    &.header_dark {
      color: var(--black-base-color);
      transition: all 250ms ease-in-out;

      // &.invert {
      //   color: var(--white-base-color);
      // }
    }
  }

  &__container {
    @include flex-align-row;
  }

  &__nav-list {
    display: none;

    @media (min-width: 1440px) {
      @include flex-align-row;
      column-gap: 48px;
    }
  }

  &__nav-link {
    color: var(--white-base-color);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    transition: opacity 200ms linear;
    padding: 8px 0;

    &.header_dark {
      color: var(--black-base-color);
    }

    @media (min-width: 1440px) {
      &:hover {
        opacity: 0.6;
      }
    }

    &_active {
      opacity: 0.6;
    }
  }
}

// ----nav-header-------

.nav-header__menu {
  &-box {
    & > p {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 1439px) {
      @include flex-align-row;
      column-gap: 20px;

      @media (min-width: 1024px) {
        column-gap: 26px;
      }

      & > p {
        display: block;
      }
    }

    @media (min-width: 1439px) {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    &-text {
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      color: var(--white-base-color);

      // &.header_dark {
      //   transition: all 250ms ease-in-out;
      //   // color: var(--black-base-color);

      //   // &.invert {
      //   //   color: var(--white-base-color);
      //   // }
      // }
    }
  }
}

// ---send-box----------

.send-box {
  margin-left: auto;
  @include flex-align-row;
  column-gap: 83px;

  @media (min-width: 768px) and (max-width: 1439px) {
    column-gap: 56px;
  }

  &__leng {
    color: var(--white-base-color);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;

    &.header_dark {
      transition: all 250ms ease-in-out;
      color: var(--black-base-color);

      // &.invert {
      //   color: var(--white-base-color);
      // }
    }

    @media (max-width: 767px) {
      margin-right: 82px;
    }

    @media (max-width: 340px) {
      margin-right: 50px;
    }
  }

  &__btn {
    display: none;
    border: 1px solid rgba(253, 253, 253, 0.32);
    background-color: transparent;
    color: var(--white-base-color);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    padding: 17px 48px;
    transition: background-color 250ms linear;

    @media (min-width: 768px) {
      display: block;
      padding: 13px 35px;
    }

    @media (min-width: 1440px) {
      padding: 16px 47px;

      &:hover {
        background-color: rgba(253, 253, 253, 0.17);
      }
    }

    &.header_dark {
      transition: all 250ms ease-in-out;
      color: var(--black-base-color);
      border: 1px solid rgba(0, 0, 0, 0.32);

      // &.invert {
      //   color: var(--white-base-color);
      //   border: 1px solid rgba(221, 217, 217, 0.32);
      // }

      @media (min-width: 1440px) {
        &:hover {
          background-color: rgba(0, 0, 0, 0.19);
        }
      }
    }
  }

  &__hambudger {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
