.make-request__btn {
  display: block;
  padding: 14px 40px;
  width: 183px;
  background-color: var(--white-base-color);
  color: var(--black-base-color);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;

  @media (min-width: 1440px) {
    padding: 17px 47px;
    transition: all 250ms linear;

    &:hover {
      background: transparent;
      color: var(--white-base-color);
      outline: 1px solid var(--white-base-color);
    }
  }
}
