.menu-btn {
  position: relative;

  background-color: transparent;
  width: 28px;
  height: 8px;

  @media (max-width: 767px) {
    right: -354%;
  }

  &__line {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 100%;

    &_top {
      top: 0;
      left: 0;

      &.is-open {
        animation: line-top;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }

    &_bottom {
      bottom: 0;
      left: 0;

      &.is-open {
        animation: line-bottom;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }
  }

  @keyframes line-top {
    0% {
      top: 0;
      opacity: 1;
    }
    50% {
      left: 0;
      top: 50%;
      transform: rotate(0deg);
      opacity: 0.5;
    }

    100% {
      top: 4px;
      left: 4px;
      transform: rotate(45deg);
      opacity: 1;
    }
  }
  @keyframes line-bottom {
    0% {
      bottom: 0;
      opacity: 1;
    }
    50% {
      left: 0;
      bottom: 50%;
      transform: rotate(0deg);
      opacity: 0.5;
    }

    100% {
      bottom: 3px;
      left: 3px;
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}
