.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000da;
  backdrop-filter: blur(1px);
  transition-property: opacity, transform, visibility;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;

  @media (min-width: 768px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @media (min-width: 1024px) {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &__btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;

    &-icon {
      width: 16px;
      height: 16px;
    }

    @media (min-width: 768px) {
      top: 40px;
      right: 40px;
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
      top: 43px;
      right: 43px;
    }
  }
  z-index: 20;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// ------modal------------------

.modal {
  width: 310px;
  overflow: auto;

  @media (min-width: 768px) {
    width: 558px;
    background: #f6f6f6;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.04);
    padding: 32px 40px;
  }
  @media (min-width: 1024px) {
    width: 808px;
    padding: 32px 51px;
  }
  @media (min-width: 1440px) {
    width: 1046px;
    padding: 57px 123px;
  }
}

.form__wrap {
  width: 310px;
  padding: 24px 24px 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  background-color: var(--white-base-color);
  border: 1px rgba(0, 0, 0, 0.04);

  @media (min-width: 768px) {
    width: 478px;
    padding: 44px 56px;
  }
  @media (min-width: 1024px) {
    width: 706px;
  }
  @media (min-width: 1440px) {
    width: 800px;
    padding: 44px 70px;
  }
}

.modal__title {
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 24px;
  }

  &_mob {
    @media (min-width: 1440px) {
      display: none;
    }
  }
  &_desc {
    display: none;
    @media (min-width: 1440px) {
      display: block;
      font-size: 22px;
    }
  }
}

.modal__label {
  position: relative;
}

.modal__subtitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #3a3e4b;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.66px;
  padding: 0 4px;
}

.modal__input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 1px solid rgba(214, 214, 214, 0.3);
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: #3a3e4b;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.66px;
  }

  &.modal__input-textarea {
    resize: none;
    &::placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// -------form---------------------------

.form {
  &__list {
    display: grid;
    row-gap: 40px;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
    }
    @media (min-width: 1024px) {
      column-gap: 36px;
    }

    &-item {
      &:last-child {
        @media (min-width: 1024px) {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

.radio-btns {
  background-color: var(--white-base-color);
  padding: 40px 24px;

  @media (min-width: 768px) {
    width: 478px;
    padding: 44px 56px;
  }

  @media (min-width: 1024px) {
    width: 706px;
  }
  @media (min-width: 1440px) {
    width: 800px;
    padding: 44px 70px;
  }

  &__title {
    color: #3a3e4b;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-bottom: 24px;
  }

  &__list {
    position: relative;
    @include grid-auto-fit($min: 45px, $max: 1fr);
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 24px;
    overflow-x: hidden;
    z-index: 3;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 36px;
      column-gap: 40px;
    }
    @media (min-width: 1024px) {
      column-gap: 0px;
      margin-left: -20px;
      margin-right: -20px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 54px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 91%;
      left: 0;

      width: 100%;
      height: 1px;
      background: rgba(214, 214, 214, 0.3);

      z-index: -1;

      @media (min-width: 1024px) {
        top: 76%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
      }
    }

    @media (max-width: 1023px) {
      &::after {
        content: '';
        position: absolute;
        top: 29%;
        left: 0;

        width: 100%;
        height: 1px;
        background: rgba(214, 214, 214, 0.3);

        z-index: -1;
      }
    }

    &-item {
      @media (max-width: 1023px) {
        &:nth-child(1) {
          & > label > p,
          input {
            margin-right: auto;
          }
        }
        &:nth-child(2) {
          margin-right: 15px;
        }
        &:nth-child(3) {
          margin-left: 10px;
        }
        &:nth-child(4) {
          & > label > p,
          input {
            margin-left: auto;
          }
        }
        &:nth-child(5) {
          & > label > p,
          input {
            margin-right: auto;
          }
        }
        &:nth-child(6) {
          margin-left: -15px;
        }
        &:nth-child(7) {
          margin-right: -11px;
        }
        &:nth-child(8) {
          & > label > p,
          input {
            margin-left: auto;
          }
        }
      }

      @media (min-width: 1024px) {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      color: rgba(58, 62, 75, 0.45);
      font-size: 9px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.54px;
      margin-bottom: 10px;
      order: 1;
    }
  }

  &__input {
    order: 2;
    appearance: none;
    transition: all 150ms linear;
    width: 18px;
    height: 18px;
    background-color: #afb0b2;
    border-radius: 50%;
    border: 7px solid #f7f7f6;

    &:checked {
      background-color: var(--white-base-color);
      transition: all 150ms linear;
      border-color: #1d1f26;

      & ~ .radio-btns__label-text {
        color: #3a3e4b;
      }
    }
  }

  &__btn-submit-box {
    @media (min-width: 1440px) {
      margin-bottom: 40px;
      @include flex-align-row;
      justify-content: space-between;
    }
  }

  .file-label {
    display: none;
    @media (min-width: 1440px) {
      @include flex-align-row;
      column-gap: 12px;
      cursor: pointer;

      &__input-wrapper {
        position: relative;
        background-color: #f7f7f6;
        border: 1px solid #afb0b2;
        width: 39px;
        height: 39px;
        overflow: hidden;
        border-radius: 50%;

        &::before {
          content: '+';
          position: absolute;
          font-size: 20px;
          font-weight: 400;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #000;
        }
      }
      &__input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
      }
    }

    &__title_top {
      color: #3a3e4b;
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      margin-bottom: 3px;
    }
    &__title_bottom {
      color: rgba(58, 62, 75, 0.45);
      font-size: 9px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.54px;
    }
  }

  &__btn-submit {
    background: #3a3e4b;
    padding: 14px 48px;
    display: block;
    margin: 0 auto;
    color: var(--white-base-color);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;

    @media (min-width: 1440px) {
      margin: 0;
    }
  }

  &__policy {
    display: none;
    @media (min-width: 1440px) {
      display: block;
      width: 600px;
      margin: 0 auto;
      &-text {
        color: #afb0b2;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 140.625%;
        letter-spacing: 0.6px;

        &-link {
          color: #afb0b2;
          text-decoration: underline;
        }
      }
    }
  }
}
