.decoration-title__box {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    z-index: 1;
  }

  @media (min-width: 1440px) {
    // top: 5%;
    // left: -3%;
  }
}
.decoration-title {
  @media (min-width: 768px) {
    @include flex-align-row;
    white-space: nowrap;
    column-gap: 13px;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &:before {
      content: '';
      display: block;
      width: 57px;
      height: 1px;
    }

    &_light {
      color: rgba(130, 130, 130, 0.35);

      &:before {
        background: rgba(196, 196, 196, 0.83);
      }
    }

    &_dark {
      color: rgba(255, 255, 255, 0.13);

      &:before {
        background: rgba(255, 255, 255, 0.04);
      }
    }
  }
}
