.slider {
  &__img {
    height: 100dvh;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(0.6);

    @media (min-width: 768px) {
      height: 544px;
    }

    @media (min-width: 1024px) {
      height: 744px;
    }
  }

  &__line {
    display: flex;
    transition: all 350ms linear;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__btn-box {
    padding: 10px;
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    width: 266px;
    @include flex-align-row;
    justify-content: space-between;
    z-index: 2;

    @media (min-width: 768px) {
      bottom: 15%;
      right: 27%;
      width: 266px;
    }
    @media (min-width: 1024px) {
      bottom: 40%;
      right: 21%;
      width: 266px;
    }
    @media (min-width: 1440px) {
      bottom: 35%;
      right: 21%;
      width: 266px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 186px;
      height: 1px;
      background-color: #fff;
    }
  }

  &__btn {
    background-color: transparent;

    &-svg {
      width: 20px;
      height: 20px;
    }
  }
}
