.slider {
  &__img {
    height: 542px;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(0.6);

    @media (min-width: 768px) {
      height: 959px;
    }

    @media (min-width: 1024px) {
      height: 710px;
    }

    @media (min-width: 1440px) {
      height: 744px;
    }
  }

  &__line {
    display: flex;
    transition: all 350ms linear;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__btn-box {
    padding: 10px;
    position: absolute;
    bottom: 70%;
    right: 70%;
    transform: translateX(50%);
    width: 195px;
    @include flex-align-row;
    justify-content: space-between;
    z-index: 2;

    @media (min-width: 768px) {
      bottom: 15%;
      right: 27%;
      width: 266px;
    }
    @media (min-width: 1024px) {
      bottom: 40%;
      right: 21%;
      width: 295px;
    }
    @media (min-width: 1440px) {
      bottom: 36%;
      right: 308px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 88px;
      height: 1px;
      background-color: #fff;
      overflow-x: hidden;
    }
  }

  &__btn {
    background-color: transparent;
    @include flex-align-row;
    column-gap: 11px;

    &-svg {
      width: 4px;
      height: 8px;
    }

    & > span {
      display: inline-block;
      color: var(--white-base-color);
      font-size: 11px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.66px;
    }

    &_prev-num {
      margin-right: 12px;
    }
    &_next-num {
      margin-left: 12px;
    }
  }
}
