:root {
  --primary-font: 'Montserrat', sans-serif;

  --white-base-color: #fff;
  --white-secondary-color: #fafafa;
  --gray-base-color: #828282;
  --black-base-color: #080808;

  --light-background-color: #fafafa;
  --secondary-light-background-color: #c4c4c4;
  --dark-background-color: #080808;
}
