:root {
  --primary-font: 'Montserrat', sans-serif;

  --white-base-color: #fff;
  --white-secondary-color: #fafafa;
  --black-base-color: #080808;

  --light-background-color: #fafafa;
  --dark-background-color: #080808;
}
