.one-project-hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.48) 0%,
      rgba(0, 0, 0, 0) 54.14%,
      rgba(0, 0, 0, 0.48) 100%
    ),
    url('@assets/img/pagrs/one-project/hero/bg-mobile.webp') lightgray 50% / cover no-repeat;

  @media (min-width: 768px) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.48) 0%,
        rgba(0, 0, 0, 0) 54.14%,
        rgba(0, 0, 0, 0.48) 100%
      ),
      url('@assets/img/pagrs/one-project/hero/bg-tablet.webp') lightgray 50% / cover no-repeat;
  }
  @media (min-width: 1024px) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.48) 0%,
        rgba(0, 0, 0, 0) 54.14%,
        rgba(0, 0, 0, 0.48) 100%
      ),
      url('@assets/img/pagrs/one-project/hero/bg-lap-top.webp') lightgray 50% / cover no-repeat;
  }
  @media (min-width: 1440px) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.48) 0%,
        rgba(0, 0, 0, 0) 54.14%,
        rgba(0, 0, 0, 0.48) 100%
      ),
      url('@assets/img/pagrs/one-project/hero/bg-desctop.webp') lightgray 50% / cover no-repeat;
  }

  &__container {
    height: 100vh;

    padding-top: 107px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (min-width: 768px) {
      height: 957px;
      padding-top: 365px;
      padding-bottom: 32px;
    }
    @media (min-width: 1024px) {
      height: 703px;
      padding-top: 232px;
    }
    @media (min-width: 1440px) {
      height: 744px;
      padding-top: 262px;
      padding-bottom: 40px;
    }
  }

  &__content {
    @media (min-width: 768px) {
      width: 540px;
      padding-left: 77px;
    }
    @media (min-width: 1024px) {
      width: 560px;
      padding-left: 104px;
    }
    @media (min-width: 1440px) {
      width: 680px;
      padding-left: 133px;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 32px;
      margin-bottom: 25px;
    }
    @media (min-width: 1440px) {
      font-size: 36px;
      margin-bottom: 22px;

      & > br {
        display: none;
      }
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 33px;

    @media (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 104px;
      width: 462px;
    }
  }
}

// apartment-details__list--

.apartment-details {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__item {
    @include flex-align-row;
    column-gap: 16px;

    @media (min-width: 768px) {
      gap: 14px;
    }
    &-desc {
      color: var(--4, #fff);

      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      opacity: 0.7;
    }
  }
}

// social-media---

.social-media {
  &__box {
    @include flex-align-row;
    column-gap: 16px;
    margin-top: auto;

    @media (min-width: 768px) {
      column-gap: 27px;
    }
    @media (min-width: 1024px) {
      column-gap: 55px;
    }
    @media (min-width: 1440px) {
      column-gap: 111px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 14px;
  }

  &__list {
    @include flex-align-row;
    column-gap: 8px;

    &-link {
      display: flex;
      padding: 6px;

      border: 1px solid #ffffff41;
      border-radius: 50%;
    }
  }
}
