.page-our-projects__gallery {
  position: relative;
  background-color: var(--light-background-color);
  overflow: hidden;
  padding-bottom: 96px;

  @media (min-width: 1440px) {
    padding-top: 109px;
  }

  & .page-our-projects__gallery-decoration {
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: 1440px) {
      display: none;
    }
  }
}
