.page-our-projects {
  color: var(--black-base-color);
  background-color: var(--light-background-color);
  min-height: 100vh;
  padding-top: 116px;
  padding-bottom: 96px;
  overflow: hidden;

  &__description {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 24px;
  }

  &__list {
    width: 128px;
    height: 29px;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    margin-bottom: 64px;

    @media (min-width: 768px) {
      width: 100%;
      border: none;
      margin-bottom: 0px;
    }

    &-item {
      position: relative;
      padding: 7px 13px;
      margin-bottom: 5px;

      @media (min-width: 768px) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 12px;
        width: 10px;
        height: 5px;
        transform: translateY(-50%);
        background-image: url('@assets/img/pagrs/our-projects/arrow.svg');
        background-repeat: no-repeat;
      }
    }
  }

  &__inner-list {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition: all 200ms linear;

    @media (max-width: 767px) {
      &_hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }

    &-item {
      opacity: 0.6;
      transition: all 200ms linear;
      cursor: pointer;

      @media (max-width: 767px) {
        &_active {
          opacity: 1;
        }
      }

      @media (min-width: 768px) {
        &_active {
          border-bottom: 1px solid var(--black-base-color);
        }
      }
    }

    @media (min-width: 768px) {
      border: none;
      flex-direction: row;
      padding: 0;
      column-gap: 32px;
    }
  }

  &__gallery-color {
    color: black;
  }

  &__btn {
    border: 1px solid var(--black-base-color);

    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// ------

.project-overlay__list {
  color: var(--white-base-color);
}

.our-projects__project-item {
  position: relative;

  @media (min-width: 1024px) {
    &:nth-child(3) {
      grid-column: 1/3;

      & .project-overlay__title-box_dynamic {
        width: 100%;
        @include flex-align-row;
        justify-content: space-between;

        & > h3 {
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(6) {
      grid-column: 1/3;
      & .project-overlay__title-box_dynamic {
        width: 100%;
        @include flex-align-row;
        justify-content: space-between;

        & > h3 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.project-overlay__title_lg {
  display: none;
  @media (min-width: 1440px) {
    display: block;
    width: 300px;
  }
}

.project-overlay__title_sm {
  @media (min-width: 1440px) {
    display: none;
  }
}

.our-projects__list__dynamic {
  margin-bottom: 0;
}
