.contacts-section {
  background-color: #000000;

  &__contacts {
    min-height: 700px;
    height: 100dvh;
    display: grid;
    align-content: center;

    @media (min-width: 768px) {
      min-height: 500px;
    }

    &-overlay {
      padding-bottom: 15px;

      @media (min-width: 768px) {
        padding-bottom: 24px;
      }
    }
  }
}
