.about-company {
  padding-top: 78px;
  padding-bottom: 78px;
  background-color: var(--light-background-color);
  overflow: hidden;

  @media (min-width: 1024px) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  @media (min-width: 1440px) {
    padding-top: 138px;
    column-gap: 82px;
  }

  &__container {
    @media (min-width: 1440px) {
      width: 100%;
      padding: 0;
    }
  }

  &__text-box {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      width: 383px;
      margin-left: auto;
      margin-right: 35px;
    }
  }

  &__philosophy {
    color: var(--black-base-color);

    &-title {
      font-size: clamp(1.625rem, 1.405rem + 0.94vw, 2.25rem);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 16px;

      @media (min-width: 1440px) {
        margin-bottom: 24px;
      }

      & > br {
        display: none;
        @media (min-width: 1024px) {
          display: block;
        }
      }
    }

    &-description {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 170.66%;
      margin-bottom: 16px;

      @media (min-width: 1440px) {
        margin-bottom: 0px;
      }
    }
  }

  &__philosophy-slider {
    position: relative;
    overflow: hidden;
    padding: 0;
    aspect-ratio: 1/1.025;
    padding-right: 30px;

    @media (min-width: 768px) {
      aspect-ratio: 1/1.072;
    }
    @media (min-width: 1024px) {
      position: static;
      aspect-ratio: 0;
    }
    @media (min-width: 1440px) {
      position: static;
      padding-right: 80px;
      margin-left: 20px;
    }
  }

  &__philosophy-img {
    object-fit: cover;
    aspect-ratio: 1/1;
    object-position: 50% 90%;
    width: 100%;
    height: 100%;

    padding-right: 5px;

    @media (min-width: 1440px) {
      width: 515px;
      height: 444px;
      padding-right: 12px;
    }
  }

  &__philosophy-btn-box {
    width: 100%;
    top: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);

    &::before {
      background-color: var(--gray-base-color);
    }

    & button {
      & > svg,
      span {
        stroke: var(--gray-base-color);
        color: var(--gray-base-color);
      }
    }

    @media (min-width: 768px) {
      padding: 30px;
      top: calc(100% - 74px);
    }

    @media (min-width: 1024px) {
      top: 70%;
      left: 20%;
      width: 308px;
      background-color: transparent;
      border-radius: 10px;
      padding: 5px;
    }
    @media (min-width: 1440px) {
      top: 76%;
      left: 412px;
      width: 308px;
    }
  }
}
