.about-hero {
  background-color: var(--light-background-color);
  padding-top: 60px;

  @media (min-width: 768px) {
    padding-top: 90px;
  }

  @media (min-width: 1440px) {
    padding-top: 96px;
  }

  &__wrapper {
    min-height: calc(100dvh - 60px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
      url('@assets/img/main/hero/slides/s/slide-1.webp') lightgray -4.799px 0px / 103.037% 100% no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      min-height: calc(100dvh - 90px);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
        url('@assets/img/main/hero/slides/m/slider-1.webp') lightgray -4.799px 0px / 103.037% 100% no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media (min-width: 1024px) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
        url('@assets/img/main/hero/slides/l/hero-img-slide-1.webp') lightgray -4.799px 0px / 103.037%
          100% no-repeat;
      background-size: cover;
      background-position: center;
    }

    @media (min-width: 1440px) {
      min-height: calc(100dvh - 96px);
    }
  }
}
