@charset "UTF-8";

.hero {
  position: relative;
}

.hero__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 61px;
  grid-template-columns: 1fr 61px;
}

.hero__container {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 220px;
}

.hero__slider {
  overflow: hidden;
}

.no-webp .hero__static-img{
  background-image: url("../assets/img/main/hero/hero-img-right-s.png"); }

.hero__static-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 542px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
}

.hero__title {
  color: var(--white-base-color);
  font-size: 40px;
  margin-bottom: 36px;
  line-height: 97.52%;
}

.hero__sub-title {
  margin-bottom: 102px;
}

.hero__static-wrapper {
  margin-top: auto;
}

.static-content {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: var(--white-base-color);
  padding-right: 30px;
  padding-top: 60px;
}

.static-content__sup-title {
  display: none;
}

.static-content__title {
  font-size: 18px;
}

.static-content__title > br {
  display: none;
}

.company {
  position: relative;
  padding-top: 78px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.company__title {
  color: var(--black-base-color);
  margin-bottom: 16px;
}

.company__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  color: var(--black-base-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 170.66%;
  opacity: 0.7;
  margin-bottom: 32px;
}

.company__description-text_bottom {
  position: relative;
  padding-left: 42px;
  font-size: 16px;
  line-height: 170%;
}

.company__description-text_bottom:before {
  position: absolute;
  left: 0;
  content: "“";
  width: 13px;
  height: 31px;
  color: var(--black-base-color);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.company__img-content {
  position: relative;
  height: 280px;
  margin-bottom: 80px;
}

.company__img_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 264px;
  height: 162px;
  z-index: 1;
  background: url("../assets/img/main/company/mobile/big-img-mob.webp") lightgray 50%/cover no-repeat;
}

.company__img_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 131px;
  height: 163px;
  background: url("../assets/img/main/company/mobile/smal-img-mob.webp") lightgray 50%/cover no-repeat;
}

.company__decoration-title-bottom {
  display: none;
}

.company__sub-title {
  margin-bottom: 82px;
}

.company-description__img-box {
  display: none;
}

@media (min-width: 375px) {
  .static-content {
    padding-right: 20px;
    padding-top: 24px;
  }
}

@media (min-width: 768px) {
  .hero__wrapper {
    -ms-grid-columns: 1fr 112px;
    grid-template-columns: 1fr 112px;
  }

  .hero__container {
    padding-top: 382px;
  }

  .no-webp .hero__static-img{
    background-image: url("../assets/img/main/hero/hero-img-right-m.png"); }

  .hero__static-img {
    height: 959px;
  }

  .hero__title {
    font-size: 44px;
    width: 400px;
    padding-left: 75px;
    margin-bottom: 29px;
    line-height: normal;
  }

  .hero__sub-title {
    padding-left: 76px;
    margin-bottom: 316px;
  }

  .static-content {
    padding-right: 30px;
    padding-top: 34px;
  }

  .static-content__sup-title {
    display: block;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-left: 8px;
  }

  .static-content__title {
    font-size: 32px;
    line-height: 97%;
    letter-spacing: 1.28px;
  }

  .company {
    padding-top: 103px;
    padding-bottom: 63px;
  }

  .company__container {
    padding: 0px 91px;
    position: relative;
  }

  .company__description {
    margin-bottom: 31px;
  }

  .company__description_bottom {
    max-width: 318px;
    margin-left: auto;
  }

  .company__description-text_bottom {
    padding-left: 27px;
  }

  .company__img-content {
    height: 331px;
    margin-bottom: 23px;
  }

  .company__img_top {
    width: 383px;
    height: 235px;
    background: url("../assets/img/main/company/tablet/big-img-tab.webp") lightgray 50%/cover no-repeat;
  }

  .company__img_bottom {
    width: 153px;
    height: 191px;
    background: url("../assets/img/main/company/tablet/smal-img-tab.webp") lightgray 50%/cover no-repeat;
  }

  .company__sub-title {
    margin-bottom: 63px;
  }
}

@media (min-width: 1024px) {
  .hero__wrapper {
    -ms-grid-columns: 1fr 161px;
    grid-template-columns: 1fr 161px;
  }

  .hero__container {
    padding-top: 283px;
  }

  .no-webp .hero__static-img{
    background-image: url("../assets/img/main/hero/hero-img-right-l.png"); }

  .hero__static-img {
    height: 710px;
  }

  .hero__title {
    font-size: 48px;
    width: 580px;
    padding-left: 101px;
  }

  .hero__sub-title {
    padding-left: 103px;
    margin-bottom: 213px;
  }

  .static-content {
    padding-right: 39px;
    padding-top: 42px;
  }

  .static-content__title > br {
    display: block;
  }

  .company {
    padding-top: 180px;
    padding-bottom: 125px;
  }

  .company__container {
    padding: 0px 117px;
  }

  .company__title {
    margin-bottom: 14px;
  }

  .company__description {
    width: 448px;
    margin-bottom: 36px;
  }

  .company__description_bottom {
    max-width: 337px;
  }

  .company__description-text_bottom {
    padding-top: 151px;
  }

  .company__content-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }

  .company__img-content {
    height: 331px;
    width: 344px;
    margin-bottom: 0px;
  }

  .company__img_top {
    width: 190px;
    height: 117px;
    background: url("../assets/img/main/company/lap-top/smal-img-bottom-lap-top.webp") lightgray 50%/cover no-repeat;
  }

  .company__img_bottom {
    width: 190px;
    height: 237px;
    background: url("../assets/img/main/company/lap-top/big-img-bottom-lap-top.webp") lightgray 50%/cover no-repeat;
  }

  .company__sub-title {
    margin-bottom: 96px;
  }

  .company-description__img-box {
    display: block;
    position: absolute;
    top: 124px;
    right: 0;
    width: clamp(21.813rem, -3.479rem + 39.52vw, 32.063rem);
    height: auto;
    background: lightgray 50%/cover no-repeat;
  }
}

@media (min-width: 1440px) {
  .hero__wrapper {
    -ms-grid-columns: 1fr 213px;
    grid-template-columns: 1fr 213px;
  }

  .hero__container {
    padding-top: 279px;
  }

  .no-webp .hero__static-img{
    background-image: url("../assets/img/main/hero/hero-img-right-xl.png"); }

  .hero__static-img {
    height: 744px;
  }

  .hero__title {
    padding-left: 197px;
    font-size: 56px;
    width: 740px;
    margin-bottom: 37px;
  }

  .hero__sub-title {
    padding-left: 199px;
    margin-bottom: 214px;
  }

  .static-content {
    padding-right: 44px;
    padding-top: 48px;
  }

  .static-content__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 97.52%;
    letter-spacing: 1.92px;
  }

  .company {
    padding-top: 220px;
    padding-bottom: 140px;
  }

  .company__container {
    padding: 0px 147px;
  }

  .company__title {
    margin-bottom: 25px;
  }

  .company__description {
    width: 510px;
    margin-bottom: 57px;
  }

  .company__description_bottom {
    max-width: 426px;
  }

  .company__description-text_bottom {
    padding-top: 275px;
    font-size: 20px;
  }

  .company__description-text_bottom:before {
    font-size: 36px;
    width: 18px;
    height: 44px;
    left: -20px;
  }

  .company__img-content {
    height: 518px;
    width: 515px;
    margin-bottom: 0px;
  }

  .no-webp .company__img_top{
    background: url("../assets/img/main/company/desctop/smal-img-desc.png") lightgray 50%/cover no-repeat; }

  .company__img_top {
    width: 279px;
    height: 172px;
  }

  .company__img_bottom {
    width: 316px;
    height: 393px;
    background: url("../assets/img/main/company/desctop/big-img-desc.webp") lightgray 50%/cover no-repeat;
  }

  .company__decoration-title-bottom {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 17%;
    left: 96%;
  }

  .company__sub-title {
    margin-bottom: 138px;
  }

  .company-description__img-box {
    top: 140px;
  }
}

.webp .hero__static-img{ background-image: url(../assets/img/main/hero/hero-img-right-s.webp); }

@media (min-width: 768px){

  .webp .hero__static-img{ background-image: url(../assets/img/main/hero/hero-img-right-m.webp); }
}

@media (min-width: 1024px){

  .webp .hero__static-img{ background-image: url(../assets/img/main/hero/hero-img-right-l.webp); }
}

@media (min-width: 1440px){

  .webp .hero__static-img{ background-image: url(../assets/img/main/hero/hero-img-right-xl.webp); }
}

@media (min-width: 1440px){

  .webp .company__img_top{ background: url(../assets/img/main/company/desctop/smal-img-desc.webp) lightgray 50%/cover no-repeat; }
}