<header class="header">
  <div class="header__container container">
    <a
      href="index.html"
      class="header__logo">
      LOGO
    </a>

    <nav class="header__nav nav-header">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a
            href="#projects"
            class="header__nav-link @@if (title === 'Projects') {@@active-class}">
            Projects
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="about.html"
            class="header__nav-link @@if (title === 'About us') {@@active-class}">
            About Us
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="#blog"
            class="header__nav-link @@if (title === 'Blog') {@@active-class}">
            Blog
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="#contacts"
            class="header__nav-link @@if (title === 'Contacts') {@@active-class}">
            Contacts
          </a>
        </li>
      </ul>

      <div class="nav-header__menu-box">
        <button
          type="button"
          class="menu-btn"
          id="hamburger">
          <span class="menu-btn__line menu-btn__line_top"></span>
          <span class="menu-btn__line menu-btn__line_bottom"></span>
        </button>

        <p class="nav-header__menu-text">Menu</p>
      </div>
    </nav>

    <div class="header__send-box send-box">
      <a
        class="send-box__leng"
        href="#">
        En
      </a>

      <button
        type="submit"
        class="send-box__btn">
        Send Request
      </button>
    </div>
  </div>
</header>
