<header class="header js-header">
  <div class="header__container container">
    <a
      data-logo="logo"
      href="index.html"
      class="header__logo @@color-class">
      LOGO
    </a>

    <nav class="header__nav nav-header">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a
            href="#projects"
            class="header__nav-link @@color-class @@if (title === 'Projects') {@@active-class}">
            Projects
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="about.html"
            class="header__nav-link @@color-class @@if (title === 'About us') {@@active-class}">
            About Us
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="#blog"
            class="header__nav-link @@color-class @@if (title === 'Blog') {@@active-class}">
            Blog
          </a>
        </li>

        <li class="header__nav-item">
          <a
            href="contacts.html"
            class="header__nav-link @@color-class @@if (title === 'Contacts') {@@active-class}">
            Contacts
          </a>
        </li>
      </ul>

      <div class="nav-header__menu-box">
        <button
          type="button"
          class="menu-btn"
          id="hamburger">
          <span
            data-line="line"
            class="menu-btn__line @@color-class menu-btn__line_top"></span>
          <span
            data-line="line"
            class="menu-btn__line @@color-class menu-btn__line_bottom"></span>
        </button>

        <p
          class="nav-header__menu-text @@color-class"
          data-menu="text-menu">
          Menu
        </p>
      </div>
    </nav>

    <div class="header__send-box send-box">
      <a
        data-leng="leng"
        class="send-box__leng @@color-class"
        href="#">
        En
      </a>

      <button
        data-send-btn="send-btn"
        type="submit"
        class="send-box__btn @@color-class">
        Send Request
      </button>
    </div>
  </div>
</header>
