<div class="mob-menu js-menu">
  <div class="mob-menu__container container">
    <ul class="mob-menu__list">
      <li class="mob-menu__list-item">
        <a
          class="mob-menu__list-link @@if (title === 'Home') {@@active-class}"
          href="index.html">
          Home
        </a>
      </li>

      <li class="mob-menu__list-item">
        <a
          class="mob-menu__list-link @@if (title === 'Projects') {@@active-class}"
          href="#projects">
          Projects
        </a>
      </li>

      <li class="mob-menu__list-item">
        <a
          class="mob-menu__list-link @@if (title === 'About us') {@@active-class}"
          href="about.html">
          About us
        </a>
      </li>

      <li class="mob-menu__list-item">
        <a
          class="mob-menu__list-link @@if (title === 'Blog') {@@active-class}"
          href="#blog">
          Blog
        </a>
      </li>

      <li class="mob-menu__list-item">
        <a
          class="mob-menu__list-link @@if (title === 'Contacts') { @@active-class }"
          href="contacts.html">
          Contacts
        </a>
      </li>
    </ul>

    <botton
      type="submit"
      class="mob-menu__send-btn js-backdrop-open">
      Send Request
    </botton>

    <div class="mob-menu__data-box">
      @@include('data-box.htm',{ "extends-class":"mob-menu__data-box_inner" })
    </div>
  </div>
</div>
